*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../assets/bg.gif);
    overflow: hidden;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    
}
.container nav{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    letter-spacing: 2px;
}
.container nav h1 span{
    color:#97f8f8;
    font-size: 30px;
    letter-spacing: 2px;
}

.ForgotPass{
    border: 1px solid;
    height:400px;
    width: 300px;
    background-color:rgba(255, 255, 255, 0.144);
    color: rgba(255, 255, 255, 0.856);
    border-radius:20px;
    box-shadow: 0px,0px,20px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    position: relative;
}
.ForgotPass-txt{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    font-size:250%;
    margin: 10%;
}
form{
    display: flex;
    box-sizing: border-box;
    padding-bottom: 10%;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 10px;
    text-transform: uppercase;
}
label{
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}
input{
    background:#ffffff38 ;
    height: 50px;
    line-height: 45px;
    width:200px;
    border-radius: 50px;
    border: none;
    margin-bottom: 20px;
    padding-left: 15px;
    color: white;
    font-size: 25px;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.5s;
}
input:hover{
    width:250px;
    background: #7bdbd86b;
}
button {
    background: rgba(255, 255, 255, 0.096);
    position:relative;
    height: 60px;
    color: white;
    line-height: 40px;
    padding: 0px 20px;
    border: none;
    width: 150px;;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 10px;
    transition: 0.5s;
}
button:hover{
    letter-spacing: 0.25px;
    background-color:rgba(0, 0, 0, 0.404);
    box-shadow: 0 0 10px var(--clr);
}
button::before{
    content: "";
    position: absolute;
    inset: 2px;
}
